  <%= form_for @wiki do |f| %>
    <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this Wiki from being saved:</h2>
      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>

    <% if policy(@wiki).private? %>
      <p>
        <%= f.check_box :private %>
        <%= label_tag(:private, "Make this Wiki private") %>
      </p>

      <p>
        <strong>Add collaborators:</strong><br/>
       <%= f.collection_select(:user_id, User.all, :id, :name, {}, {:multiple => true}) %>
      </p>
    <% end %>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

